.project
*.trc
*.log
*.local
*.settings
*.xml.releaseBackup
*~
*.rej
*.iml
*.ipr
*.iws
target
*.idea
.idea/*
gwt.properties
/ebs-monitoring-web/target
/ebs-monitoring-core/target
/ebs-monitoring-app/target

/ebs-monitoring-core/.classpath
/ebs-monitoring-web/.classpath
/ebs-monitoring-web/.externalToolBuilders/Maven_Ant_Builder.launch
/ebs-monitoring-web/maven-eclipse.xml
/ebs-monitoring-web/src/main/webapp/META-INF/MANIFEST.MF
/ebs-monitoring-core/src/test/java/META-INF/MANIFEST.MF
/ebs-monitoring-core/.cache
/ebs-monitoring-web/.cache
*.gz
/ebs-monitoring-web/src/main/webapp/images/icon/temp/*.pspimage
